<?php
$title = $this->translate('Login title');
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<hr/>
<?php echo $this->translate('Login description'); ?><hr/>
<?php
if(isset($this->error)){
	echo $this->error;
}
if($form = $this->form){
	$form->setAttribute('action', $this->url('acl\user', array('action' => 'login')));
	$form->prepare();
	echo $this->formTwb($form);
}
?>
