<?php 
$title = $this->translate('Add group');
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<hr/>
<?php

$form = $this->form;
$form->setAttribute('action', $this->url('acl\group', array('action' => 'add')));
$form->prepare();

echo $this->formTwb($form)

?>