<?php 
$title = $this->translate('Groups');
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<hr/>
<a class="btn btn-primary" href="<?php echo $this->url('acl\group', array('action'=>'add')) ?>"><i class="icon-plus icon-white"></i></a>
<hr/>
<table cellpadding="0" cellspacing="0" border="0" class="table datatable table-striped table-bordered">
	<thead>
		<tr>
            <th><?php echo $this->translate('ID#'); ?></th>
            <th><?php echo $this->translate('Name'); ?></th>
            <th><?php echo $this->translate('Actions'); ?></th>
		</tr>
	</thead>
	<tbody>
		<?php foreach($this->groups as $group):?>
			<tr><td><?php echo $group->id ?></td>
                <td><?php echo $group->name ?></td>
				<td><a href="<?php echo $this->url('acl\group',array('action'=>'edit', 'id' => $group->id)); ?>" class="btn btn-info"><i class="icon-pencil icon-white"></i></a>
					<a href="<?php echo $this->url('acl\group',array('action'=>'remove', 'id' => $group->id)); ?>" class="btn btn-danger"><i class="icon-remove icon-white"></i></a></td></tr>

		<?php endforeach; ?>
	</tbody>
</table>